@page "/"

<PageTitle>Home</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h1>Hello, @context.User.Identity.Name !</h1>
        </Authorized>
        <NotAuthorized>
            <h1>Welcome to CRMS!</h1>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
